{% extends 'base.html' %}

{% block content %}

<h3>Hotels</h3>

Courtyard by Marriott
474 Main Ave, Norwalk, CT 06851


<h3>Restaurants</h3>

<ul>
    <li>Oak and Almond - Upscale American, one of Kayla's favorites. It's super convenient if you're staying at the Courtyard in Norwalk.
    <li>Schoolhouse - We haven't actually been here yet, but it looks really cute and has great reviews.
    <li>Valencia Luncheria - Venzuelan beach food; arepas and empandas are great, though a bit on the fried side (which could be good or bad depending on your perspective).
    <li>The Ginger Man - Bar with a huge selection of beers; even Kevin can find beers he likes.
    <li>In Thai - Kevin gets the crispy chicken basil at least once a week. 
</ul>

<h3>Activities</h3>

Norwalk Maritime Aquarium


<h3>Further Afield</h3>

New York City - Metro North train lines run direct from Norwalk to NYC

{% endblock %}