{% extends 'base.html' %}

{% block content %}
<Center>
<img id="intro" src="http://weninroam.files.wordpress.com/2012/07/sea-otters.jpg" title="http://weninroam.com/tag/sea-otters/" />
<br/>
</center>
<h3>Local :: Fairfield County, CT</h3>
	<h5>Hotels</h5>

	Courtyard by Marriott
	474 Main Ave, Norwalk, CT 06851


	<h5>Restaurants</h5>

	<ul>
		<li><a href="http://oakandalmond.com/" target="_blank">Oak and Almond</a> Upscale American, one of Kayla's favorites. It's super convenient if you're staying at the Courtyard in Norwalk.
		<li><a href="http://www.schoolhouseatcannondale.com/" target="_blank">Schoolhouse at Canondale</a> We haven't actually been here yet because it's always booked for Brunch, but it looks really cute and has great reviews.
		<li><a href="http://www.valencialuncheria.com/" target="_blank">Valencia Luncheria</a> Venzuelan beach food; arepas and empandas are great, though a bit on the fried side (which could be good or bad depending on your perspective).
		<li><a href="http://www.gingermannorwalk.com/" target="_blank">The Ginger Man</a> Bar with a huge selection of beers; even Kevin can find beers he likes.
		<li><a href="http://inthainorwalk.com/" target="_blank">In Thai</a> Solid Thai food. Kevin gets the Crispy Chicken Basil at least once a week. Yet, Kayla still asks every time, "So what did you get?"
	</ul>

	<h5>Activities</h5>

	<ul>
		<li><a href="http://www.maritimeaquarium.org/">Norwalk Maritime Aquarium</a> We had a corporate event here once where they catered sushi. Yes, awkward.</li>
	</ul>

	<br/>
	<br/>
<h3>Further Afield :: New York City</h3>
<h5>Transportation</h5>
Get to NYC via <a href="http://as0.mta.info/mnr/schedules/sched_form.cfm" target="_blank">the Metro North</a>. Train lines run direct from South Norwalk to Grand Central Terminal in NYC (approximately 60 minutes and $12 each way)

<h5>Restaurants</h5>

<ul>
<li><a href="" target="_blank">Calle Ocho</a> (Latin American food, Upper West Side)
<li><a href="" target="_blank">Wa Jeal</a> (Chinese Sichuan food, Upper East Side)
<li><a href="" target="_blank">Onieals Restaurant and Pub</a> (Upscale Pub, SOHO)
<li><a href="" target="_blank">Chelsea Market</a> (Marketplace with great everything, Chelsea)
<li><a href="" target="_blank">Radegast Hall & Biergarten</a> (Beer Garden, Williamsburg in Brooklyn)

</ul>
{% endblock %}