{% extends 'base.html' %}

{% block content %}
<div id="content">
<h3>Wedding Brunch</h3>

	<div class="details">
	<h5>By invitation only.</h5>
	<p>Jin Fang and Shan Li (parents of the bride) would like to extend a special thank you to the wedding party and folks traveling from long distances by hosting a <b>Wedding Brunch</b>. </p>
	<p>We are deeply honored and grateful that you have taken time out of your busy schedules to be with us.</p>
	<h5>Location & Time</h5>
	<p>
	Sunday, September 28, 2014 at 11:00AM
	</p>
	<p>
	<a href="http://www.oneillsono.com/" target="_blank">O'Neill's Pub & Restaurant</a><br/>
	93 North Main St. <br />
	Norwalk, CT 06854 <br /><br />
	And here's a link to the <a href="http://www.oneillsono.com/Menus.php" target="_blank">brunch menu</a> (click on the <b>Brunch</b> tab).<br/>
	</p>
	</div>
</div>	

{% endblock %}