{% extends 'base.html' %}

{% block style %}
    <style>
      #map_canvas {
        width: 500px;
        height: 400px;
      }
    </style>
{% endblock %}
{% block script %}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(41.123804, -73.415745),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
        
        var myLatLng = new google.maps.LatLng(41.123804, -73.415745);
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block content %}
The ceremony and reception will be held at the Keeler Tavern Museum in Ridgefield, CT. Information about the museum is available on their website, <a href="http://www.keelertavernmuseum.org">http://www.keelertavernmuseum.org</a>. There will be a museum tour guide available to take guests on a tour of the museum.
	
<p>
Keeler Tavern Museum<br>
132 Main St.<br>
Ridgefield, CT 06877<br>
<p>
	
<iframe width="625" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=132+Main+Street,+Ridgefield,+CTt&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=61.452931,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=132+Main+St,+Ridgefield,+Connecticut+06877&amp;t=m&amp;z=14&amp;ll=41.273056,-73.497223&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=132+Main+Street,+Ridgefield,+CTt&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=61.452931,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=132+Main+St,+Ridgefield,+Connecticut+06877&amp;t=m&amp;z=14&amp;ll=41.273056,-73.497223" style="color:#0000FF;text-align:left">View Larger Map</a></small>

	
<!--    <div id="map_canvas"></div>-->
{% endblock %}