{% extends 'base.html' %}

{% block content %}
<center>
<img id="intro" src="http://www.simonhoyt.com/history_of_ridgefield_files/Keeler-BenjaminHoyt-Tavern.jpg" title="http://www.simonhoyt.com/history_of_ridgefield.htm" />
</center>
<h3>Event Details</h3>

<h5>Itinerary</h5>
<div class="details">
<p>
The ceremony and reception will be held at the <b><a href="http://www.keelertavernmuseum.org">Garden House at Keeler Tavern Museum</a></b> in Ridgefield, CT. We are offering museum tours for any of our guests who are interested (or who want to see a British cannonball lodged in the tavern wall).
</p>

<p>
Guest Arrival & Cocktails: 2.00 to 2.30<br>
Ceremony: 2.30 to 3.00<br>
Reception<span class="accent">*</span>: 3.00 to 7.00<br>
<br />
<span class="accent small">* We are delighted to host an Afternoon Tea Reception to celebrate. Cocktails, tea and light afternoon tea fare will be provided.</span>
</p>
</div>
	

<h5>Location Information</h5>	
<p align="center">
Keeler Tavern Museum<br>
132 Main St.<br>
Ridgefield, CT 06877<br>
</p>
<div class="details">
<iframe width="625" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=132+Main+Street,+Ridgefield,+CTt&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=61.452931,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=132+Main+St,+Ridgefield,+Connecticut+06877&amp;t=m&amp;z=14&amp;ll=41.273056,-73.497223&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=132+Main+Street,+Ridgefield,+CTt&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=61.452931,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=132+Main+St,+Ridgefield,+Connecticut+06877&amp;t=m&amp;z=14&amp;ll=41.273056,-73.497223" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
{% endblock %}