{% extends 'base.html' %}

{% block content %}

<div id="content">
<h3>Fairfield County, Connecticut</h3>
	<h5>Hotels</h5>

	<ul>
	<li><a href="http://www.marriott.com/hotels/travel/hpnnw-courtyard-norwalk/" target="_blank">Courtyard by Marriott</a> 474 Main Ave &bull; Norwalk, CT 06851</li>
	<li><a href="http://hiltongardeninn3.hilton.com/en/hotels/connecticut/hilton-garden-inn-norwalk-ORQNWGI/index.html" target="_blank">Hilton Garden Inn</a> 560 Main Ave &bull; Norwalk, CT 06851</li>
	<li><a href="http://www.westlaneinn.com/" target="_blank">West Lane Inn</a> 22 West Lane &bull; Ridgefield, CT 06877
	</ul>


	<h5>Restaurants</h5>
	<img class="right" src="http://t3.gstatic.com/images?q=tbn:ANd9GcQEsAHGsWeTAH1a2K8qzZl9kMOXiLkOyyLc1TmuvMctsyd8neCo" title="source: http://commons.wikimedia.org/" width="300px"/>
	<ul>
		<li><a href="http://oakandalmond.com/" target="_blank">Oak and Almond</a> Upscale American, one of Kayla's favorites. It's super convenient if you're staying at the Courtyard in Norwalk.
		<li><a href="http://www.schoolhouseatcannondale.com/" target="_blank">Schoolhouse at Canondale</a> We haven't actually been here yet because it's always booked for Brunch, but it looks really cute and has great reviews.
		<li><a href="http://www.valencialuncheria.com/" target="_blank">Valencia Luncheria</a> Venzuelan beach food; arepas and empandas are great, though a bit on the fried side (which could be good or bad depending on your perspective).
		<li><a href="http://www.gingermannorwalk.com/" target="_blank">The Ginger Man</a> Bar with a huge selection of beers; even Kevin can find beers he likes.
		<li><a href="http://inthainorwalk.com/" target="_blank">In Thai</a> Solid Thai food. Kevin gets the Crispy Chicken Basil at least once a week. Yet, Kayla still asks every time, "So what did you get?"
	</ul>

	<h5>Activities</h5>

	<ul>
		<li><a href="http://www.maritimeaquarium.org/">Norwalk Maritime Aquarium</a> We had a corporate event here once where they catered sushi. Yes, awkward.</li>
	</ul>

</div>
{% endblock %}