{% extends 'base.html' %}

{% block content %}
<!--
{% if all_guests %}
    <ul>
    {% for guest in all_guests %}
        <li>{{ guest.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
-->
<center>
<img class="main" src="https://scontent-b-lga.xx.fbcdn.net/hphotos-frc3/t1/1395314_10102474875661238_1137660243_n.jpg" width="33%" />
<img class="main" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/t1/14149_10102474875686188_359334489_n.jpg" width="33%"/>
<img class="main" src="https://scontent-a-lga.xx.fbcdn.net/hphotos-prn1/t1/1601223_10102725506824378_1040422984_n.jpg" width="33%"/>
<br/>

<div id="content">
<i>A country road. A tree.</i><br/>
Kayla: I'm hungry! <br/>
Kevin: Do you want a carrot?<br/>
Kayla: Is that all there is?<br/>
Kevin: I might have some turnips.<br/>
<span class="small accent">Dialogue from Samuel Beckett's Waiting for Godot, Act I</span>
</content>
</center>{% endblock %}