<title>Welcome to Kevin & Kayla's Wedding Site</title>
{% extends 'base.html' %}

https://scontent-a-lga.xx.fbcdn.net/hphotos-prn1/t1/1601223_10102725506824378_1040422984_n.jpg{% block content %}
<center>
<div id="intropane">
<img class="main" src="https://scontent-b-lga.xx.fbcdn.net/hphotos-frc3/t1/1395314_10102474875661238_1137660243_n.jpg" width="25%"/><!-- 
--><img class="main" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/t1/14149_10102474875686188_359334489_n.jpg" width="25%"/><!-- 
--><img class="main" src="https://scontent-a-lga.xx.fbcdn.net/hphotos-prn1/t1/1601223_10102725506824378_1040422984_n.jpg" width="25%"/><!-- 
--><img class="main" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn1/t1/1538714_10102725507088848_46922780_n.jpg" width="25%"/>
<br/>
</div>
<div id="dialogue">
<center>
<span class="accent">Kevin and Kayla present...</span>
<h5>Waiting for Godot, written by Samuel Beckett</h5>
</center>
<br/>
<i>A country road. A tree.</i><br/><br/>
<i>Evening.</i><br/><br/>
<b>KAYLA:</b> (violently) I'm hungry! <br/>
<b>KEVIN</b>: Do you want a carrot?<br/>
<b>KAYLA</b>: Is that all there is?<br/>
<b>KEVIN</b>: I might have some turnips.<br/>
<br/>
<center>
<span class="accent">Thank you. Please enjoy our wedding site.</span>
</center>
</div>
</center>{% endblock %}