{% extends 'base.html' %}

{% block content %}
<div id="content">
<h3>Ceremony & Reception</h3>
	<div class="details">
	<p>
	<img class="right" src="http://icons.iconarchive.com/icons/artdesigner/gentle-romantic/512/champagne-icon.png" height="400px" title="source: http://www.iconarchive.com/" />
	The ceremony and reception will be held at the <b><a href="http://www.keelertavernmuseum.org">Garden House at Keeler Tavern Museum</a></b> in Ridgefield, CT. 
	</p>
	<p>
	<a href="{%url 'location' %}">Click here for map and directions</a>.</p>
	
	</p>
	We are offering free museum tours for any of our guests who are interested (or who want to see a British cannonball lodged in a tavern wall).
	</p>

	<p>
	<h5>September 27, 2014</h5>
	<b>Guest Arrival</b><span class="accent">*</span>: 2:00PM to 2:30PM<br>
	<b>Ceremony</b>: 2:30PM to 3:00PM<br>
	<b>Reception</b><span class="accent">**</span>: 3:00PM to 7:00PM<br>

	<p>A parking attendant will help direct you to on site parking. .</p>
	<p>Dress code is semi formal. Top hats required for men.<span class="accent">***</span></p>
		<br />
		<br />
	<span class="accent small">* Please enjoy hors d'oeuvres & cocktails while we shower real fast</span>
	<br/>
	<span class="accent small">** We are delighted to host an Afternoon Tea Reception to celebrate our wedding with you. Cocktails, tea and light afternoon tea fare will be provided.</span>
	<br/>
	<span class="accent small">*** Are we joking? Excellent question.
	</p>
	</div>
</div>
{% endblock %}