{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div id="content">
<h3>R&eacute;pondez s'il vous pla&icirc;t!</h3>
<center><h4>(RSVP)</h4></center>
<div class="details">
<p>
Type in your name below to RSVP<span class="accent">*</span> for your party.
</p>
<form class="login" id="login_form" name="login_form" action="{% url 'perform_login' %}" method="post">
{% csrf_token %}
<input id="attendee" name="login_id" type="hidden" style="width:300px" value="" /> 
<input type="submit" value="That's me!"  class="submit-rsvp"/>
</form>
<br/>
<br/>
<p>
Can't find your name? Email <a href="mailto:kfang87@gmail.com">our support team</a> for help.
</p>
<p>
<img src="http://icongal.com/gallery/image/127494/owl_harry_potter_bird_mail_hedwig_animal_fly.png" title="source: http://icongal.com" width="100" class="left"/>
<span class="small accent">
<br/>
<br/>
<br/>
<br/>
* Please consider how much time, paper, fuel and lives you save by sending your RSVP online instead of regular post. The owls thank you.</span>
</p>
</div>
</div>
{% endblock %}

{% block script %} 
<script>
    $(document).ready(function () {
    
        var pageSize = 20;
        var attendeeUrl = "{% url 'get_attendees' %}";

        $('#attendee').select2(
        {
            placeholder: 'Enter name',
            //Does the user have to enter any data before sending the ajax request
            minimumInputLength: 3,            
            allowClear: true,
            ajax: {
                //How long the user has to pause their typing before sending the next request
                quietMillis: 150,
                //The url of the json service
                url: attendeeUrl,
                dataType: 'json',
                //Our search term and what page we are on
                data: function (term, page) {
                    return {
                        pageSize: pageSize,
                        pageNum: page,
                        searchTerm: term
                    };
                },
                results: function (data, page) {
                    //Used to determine whether or not there are more results available,
                    //and if requests for more data should be sent in the infinite scrolling
                    //var more = (page * pageSize) < data.Total; 
                    return { results: data };
                }
            }
        });
    });
</script>
{% endblock %}




