{% extends 'base.html' %}

{% block content %}
	<div id="content">
	<h3>New York City</h3>
	<h5>Transportation</h5>
	Get to NYC via <a href="http://as0.mta.info/mnr/schedules/sched_form.cfm" target="_blank">the Metro North</a>. Train lines run direct from South Norwalk to Grand Central Terminal in NYC (approximately 60 minutes and $12 each way)
		<img src="http://fc01.deviantart.net/fs71/i/2012/031/2/0/new_york_city_png_hq_by_natyjonasproductions-d4oa4r3.png" title="source: deviantart.net" height="200px" class="left"/>
	<h5>Restaurants</h5>

	<ul>
	<li><a href="http://www.calleochonyc.com/" target="_blank">Calle Ocho</a> Latin American food, Upper West Side
	<li><a href="http://www.wajealrestaurant.com/" target="_blank">Wa Jeal</a> Chinese Sichuan food, Upper East Side
	<li><a href="http://onieals.com/soho.html" target="_blank">Onieals Restaurant and Pub</a> Upscale Pub, SOHO
	<li><a href="http://www.chelseamarket.com/" target="_blank">Chelsea Market</a> Marketplace with great everything, Chelsea
	<li><a href="http://www.latarteflambee.com/" target="_blank">La Tarte Flambee</a> Tiny place specializing in Alsacian "tartes flambees", super French, Upper East Side
	<li><a href="" target="_blank">Radegast Hall & Biergarten</a> Beer Garden, Williamsburg in Brooklyn

	</ul>

	<h5>Activities</h5>
	<ul>
	<li><a href="http://www.thehighline.org/" target="_blank">The High Line</a> A beautiful, linear park full of wonderful architecture, nearby to Chelsea Market</li>
	<li>Museums...<a href="http://www.metmuseum.org/" target="_blank">The Met</a>, <a href="http://www.moma.org/" target="_blank">the MoMA</a>, <a href="http://www.amnh.org/" target="_blank">the Museum of Natural History</a> and  <a href="http://www.metmuseum.org/visit/visit-the-cloisters" target="_blank">The Cloisters</a> are a couple of our favorites</li>
	<li>Broadway shows... check out the <a href="http://www.tdf.org/TKTSBoards.aspx" target="_blank">TKTS booth</a> for discount same day tickets</li>
	</ul>
	

</div>
{% endblock %}