{% extends 'base.html' %}

{% block title %}RSVP{% endblock %}

{% block content %}
<div id="content">
<input id="attendee" name="AttendeeId" type="hidden" style="width:300px" value="" /> 

<h3>Greetings, {{ guest.name }}</h3>

<div class=logout_link><a href="{% url 'logout' %}">(Not {{ guest.name }}? Click to log out)</a></div>

<form class="rsvp" id="rsvp_form" name="rsvp_form" action="{% url 'response' guest.id %}" method="post">
{% csrf_token %}
    <fieldset>
        {% if guest.will_attend != None %}
        <div id="already_rsvped_message">
            You have already RSVPed. You may alter your response below.
        </div>
        {% endif %}
        <br>
        <label>For the ceremony and reception, I will: </label><br>
	    <div class="details">
            <label for="yes">
                <input type="radio" name="will_attend" id="yes" value="yes" {% if guest.will_attend == True %} checked {% endif %} onchange=on_attendance_change() required />
                regretfully accept
            </label>
	        <br/>
            <label for="no">
                <input type="radio" name="will_attend" id="no" value="no" {% if guest.will_attend == False %} checked {% endif %} onchange=on_attendance_change() />
                delightfully decline
            </label>
	    </div>

        {% if guest.invited_to_brunch %}
        <br>
        <label>How about brunch the next day?</label><br>
        <div class="details">
            <label for="yes_brunch">
                <input type="radio" name="will_attend_brunch" id="yes_brunch" value="yes" {% if guest.will_attend_brunch == True %} checked {% endif %} onchange=on_attendance_change() />
                Of course, who doesn't love brunch?
            </label>
            <br>
            <label for="no_brunch">
                <input type="radio" name="will_attend_brunch" id="no_brunch" value="no" {% if guest.will_attend_brunch == False %} checked {% endif %} onchange=on_attendance_change() />
                No, I only attend breakfasts or lunches
            </label>
	    </div>
        {% endif %}

        {% if guest.invited_to_rehersal_dinner %}
        <br>
        <label>Will you be at the rehearsal dinner?</label><br>
        <div class="details">
            <label for="yes_dinner">
                <input type="radio" name="will_attend_rehersal_dinner" id="yes_dinner" value="yes" {% if guest.will_attend_rehersal_dinner == True %} checked {% endif %} onchange=on_attendance_change() />
                Free dinner sounds good to me
            </label>
            <br>
            <label for="no_dinner">
                <input type="radio" name="will_attend_rehersal_dinner" id="no_dinner" value="no" {% if guest.will_attend_rehersal_dinner == False %} checked {% endif %} onchange=on_attendance_change() />
                No thanks, I'm busy... uh... washing my hair
            </label>
	    </div>
        {% endif %}
		
    </fieldset>
    <fieldset id="rsvp_details" name="rsvp_details" {% if guest.will_attend != True %} style="visibility: hidden;" {% endif %} >
        <div class="rsvp_details_label">
            <label class="rsvp_details_label" for="number_of_guests">Number of guests:<span class="accent">*</span></label>
            <input type="textbox" size="30" name="number_of_guests" value={{ guest.number_of_guests }} />
        </div>
        <div class="rsvp_details_label">
            <label class="rsvp_details_label" for="dietary_restrictions">Dietary restrictions:</label>
            <textarea rows="2"  cols="30" name="dietary_restrictions">{{ guest.dietary_restrictions }}</textarea>
        </div>
		<span class="accent small">* At this time, we are only accomodating guests whose names are explicitly included on the invitation. We ask that you do not bring a "plus one." If you would like to bring somebody special that we did not invite, please just <a href="mailto:kfang87@gmail.com">email us</a> and ask. Thank you!
    <br>
    </fieldset>

    <br>
<input type="submit" value="Submit" class="submit-rsvp"/>

</form>

</div>
{% endblock %}

{% block script %} 
<script>
    function on_attendance_change(){
        var fieldset = document.forms.rsvp_form.rsvp_details;
        if($('input[name = "will_attend"]:checked').val() == "yes" ||
            $('input[name = "will_attend_brunch"]:checked').val() == "yes" ||
            $('input[name = "will_attend_rehersal_dinner"]:checked').val() == "yes")
        {
            fieldset.style.visibility="visible";
        }
        else
        {
            fieldset.style.visibility="hidden";
        }
    }

</script>
{% endblock %}
