{% extends 'base.html' %}

{% block content %}
<div id="content">
<h3>The Wedding Party</h3>
<div class="center">
<h5>Officiant</h5>
Thomas (Tommy) Steinthal<br/>
</div>
	<div class="left">
		<h5>Maid of Honor</h5>
		
			Melissa Lumish<br/>
			
		<h5>Bridesmaids</h5>
		
			Kathleen Walkley<br/>
			Rebecca (Zellner) Youngblut<br/>
			Megan (Carney) Scott<br/>
		
		<h5>Bride's family</h5>
	
		Shan Li (Mother of the Bride)<br/>
		Jin Fang (Father of the Bride)<br/>

		
		
	</div>
	<div class="right">

		<h5>Best Man</h5>
		
			Clay Viands<br/>
			
		<h5>Groomsmen</h5>
		
			Brad Armstrong<br/>
			Daniel Fang<br/>
		<h5>Groom's family</h5>
	
		Rejan Armstrong (Mother of the Groom)<br/>
		Bill Armstrong (Father of the Groom)<br/>
	
	</div>
	<br/>

</div>	

{% endblock %}