{% extends 'base.html' %}

{% block content %}

<h3>Wedding Party</h3>
	<div class="weddingparty">
	<h4>Bride's</h4>
	<h5>Family</h5>
	<ul class="weddingparty">
	<li>Shan Li (Mother of the Bride)</li>
	<li>Jin Fang (Father of the Bride)</li>
	</ul>
	<h5>Bridesmaids</h5>
	<ul>
		<li>Melissa Lumish (Maid of Honor)</li>
		<li>Kathleen Walkley</li>
		<li>Rebecca Zellner</li>
		<li>Megan [Carney] Scott</li>
	</ul>

	<h4>Groom's</h4>
	<h5>Family</h5>
	<ul class="weddingparty">
	<li>Rejan Armstrong (Mother of the Groom)</li>
	<li>Bill Armstrong (Father of the Groom)</li>
	</ul>
	<h5>Groomsmen</h5>
	<ul>
		<li>Clay Viands</li>
		<li>Brad Armstrong</li>
		<li>Daniel Fang</li>
	</ul>
</div>
{% endblock %}