/*
color scheme plumWine

sage #C8C9BD
yellow #FFE18B
tan #E5D1AC
plum #5C2B35
purple #382B35
black #15191C

*/

@font-face {
	font-family: traveling-typewriter;
	src: url('SmithyXT-Regular-v2-2.ttf');
}
    
body{
	background-color:#C8C9BD;
	background-image:url('bg.jpg');
	background-size:1920px;
	background-attachment:fixed;
	background-repeat: no-repeat;
	font-family: traveling-typewriter;
	/*overflow:hidden;*/
	color: #C8C9BD;
	padding:0;
}

input[type="textbox"], textarea {
		font-family: traveling-typewriter;
		color: black;
		width: 10em;
		border: 1px solid black;
 }

a {
	font-weight:bold;
	color:#E5D1AC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#wrapper {
    margin-top: 100px;
	margin-left: auto;
	margin-right: 0;
    max-width: 900px;
	min-height: 450px;
    width: 100%;
    padding: 0 0 50px 0;
	background-image:url('swatch.png'); 
	-moz-box-shadow: 2px 6px 5px gray;
	-webkit-box-shadow: 2px 6px 5px gray;
	box-shadow: 2px 6px 5px gray; 
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}

div#intropane {
margin: 0;
padding: 0;
width: 100%;
text-align: center;
}

div#dialogue {
	width: 90%;
	text-align: left;
	font-size: 0.8em;
}

div#content {
    padding: 10px;
    width: 90%;
	font-size: 0.8em;
}

div#already_rsvped_message{
	font-weight: bold;
}

div#navigation {
	text-align: center;
}

div.details {
    padding: 0 3em 0 3em;
}

div.sub {
	font-size: 0.85em;
	font-style: italic;
}

/* HEADER and FOOTER */

div.header {
	padding: 0;
	margin: 0;
	text-align: center;
	width:100%;
	position:fixed;
	background-color: white;/*#5C2B35;*/
	color: #382B35;
	top: 0;
	left: 0;
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}

div.omni {
	font-size: 1.7em;
}

div.footer {
	color: #382B35;
	text-align: center;
	width:100%;
	padding: 0 0 0 0;
	background-color: white;/*#5C2B35;*/
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
	position:fixed;
	bottom: 0px;
	left: 0;
}

div.copyright {
	font-size: 0.6em;
}

/* NAVIGATION */

div.main-nav {
	margin:0;
	padding:0;
}

div.main-nav ul
{
	position: relative;
	display: inline-table;
	list-style: none;
	padding: 0;
	margin: 0 0 0 0;
}

div.main-nav ul li
{
	float: left;
	padding: 0;
	margin: 0;
}

div.main-nav ul li:hover
{
	background-color: #382B35;
}

div.main-nav ul li a
{
	display: block;
	color: #5C2B35;
	text-decoration: none;
	text-transform:lowercase;
	font-size: 0.8em;
	font-weight: 100;
	margin: 0 25px 0 25px;
	padding: 10px 0 10px 0;
}

div.main-nav ul li:hover a
{
	color: #C8C9BD;
}

div.main-nav ul li:hover > ul {
	display:block;
	margin: 0;
}

div.main-nav ul ul {
	position: absolute;
	bottom: 100%;
	display:none;
	border-radius: 0px; 
	padding: 0;
	
}

div.main-nav ul ul li {
	float: none;
	position: relative;
	padding: 0;
	background-color: #382B35;
}

div.main-nav ul ul li:hover {
	background-color: #606060;
}

div.main-nav ul ul li a {
}

div.main-nav ul ul li:hover a {
	color: white;
}

span.accent {
	color: white;
}

span.small {
	font-size: 0.9em;
}

h3 {
	text-align: center;
	color: #FFE18B;
	font-size: 2em;
	margin: 10px 0 0 0 ;
}

h5 {
	color: #E5D1AC;
	font-size: 1.3em;
	font-weight: 900;
	padding: 0;
	margin: 10px 0 0 0;
}

div.left {
	float: left;
		width: 50%;
	text-align: center;
}

div.right {
	float: right;
	width: 50%;
	text-align: center;
}

div.center {
	width: 100%;
	text-align: center;
}

img#extrapolatingComic {
    margin-left:auto;
    margin-right:auto;
    display: block;
}

img.main {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

img.main:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

img.right{
	float: right;
	margin: 20px;
}
img.left{
	float: left;
	margin: 20px;
}

form.rsvp {
	border: 0;
}

fieldset {
	border: 0;
}

input.submit-rsvp
{
	color: white;
	border: 1px solid white;
	background-color: #382B35;
	font-family: traveling-typewriter;
	padding: 10px 20px 10px 20px;
}

div.rsvp_details_label {
    line-height: 4em;
}

label.rsvp_details_label  {
    vertical-align: top;
    display: inline-block;
    width: 280px;
}

textarea.dietary_restrictions_textarea {
    width: 300px;
}

input.submit-rsvp:hover
{
	background-color: gray;
}

div.logout_link
{
    text-align: center;
    font-size: .8em;
}

table.admin
{
	padding: 20px 20px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-size: 0.9em;
}
table.admin td, table.admin th
{
	border: 1px solid gray;
	padding: 0 10px 0 10px;
}