/*
color scheme plumWine

sage #C8C9BD
yellow #FFE18B
tan #E5D1AC
plum #5C2B35
purple #382B35
black #15191C

*/
    
body{
	background-color:#5C2B35;
	background-image:url('bg1.JPG');
	background-size:100%;
	background-attachment:fixed;
	background-repeat: no-repeat;
	font-family: calibri;
	overflow:hidden;
}

a {
	font-weight:bold;
	color:#382B35;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#wrapper {
    margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
    max-width: 900px;
    width: 100%;
    padding: 2%;
	background-color: white;
	border: 1px solid gray;
}

div#content {
    padding: 2em 0 0 0;
    width: 100%;
	min-height: 500px;
}

div.footer {
	text-align: center;
	width:100%;
	padding: 0 0 0 0;
	background-color: white;/*#5C2B35;*/
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	position:fixed;
	bottom: 0px;
}

div.copyright {
	font-size: 0.65em;
}

div.omni {
	font-size: 2.5em;
}

div.header {
	text-align: center;
	width:100%;
	position:fixed;
	background-color: white;/*#5C2B35;*/
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}

div#navigation {
	text-align: center;
}

div.details {
    padding: 0 0 0 3em;
}

div.sub {
	font-size: 0.85em;
	font-style: italic;
	
}

div.main-nav {
	list-style-type:none;
	margin:0;
	padding:0;
}

div.main-nav li
{
	display: inline;
	padding: 0 25px 0 25px;
}

div.main-nav li a
{
	color: #5C2B35;
	text-decoration: none;
	text-transform:lowercase;
	font-size: 1.1em;
	font-weight: 100;
}

div.main-nav li a:hover
{
	color: #C8C9BD;
}

span.accent {
	color: #5C2B35;
}

span.small {
	font-size: 0.7em;
}

h3 {
	text-align: center;
	color: #382B35;
}

h5 {
	color: #5C2B35
}

div.weddingparty {
	text-align: left;
}

ul.weddingparty {
	list-style-type: none;
}

ul.weddingparty li  {
	color: #382B35;
}

img#extrapolatingComic {
    margin-left:auto;
    margin-right:auto;
    display: block;
}
img#intro {
	margin-left:auto;
	margin-right:auto;
	max-height: 200px;
	border: 1px solid gray;
}
img.main {
	margin-left:auto;
	margin-right:auto;
	height:400px;
	border: 1px solid gray;
}