div#wrapper {
 /*   background: url("../img/layout/wrap_bg.jpg") repeat-y scroll 0 0 transparent;*/
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    padding: 2%;
}

div#content {
    /*background: url("../img/layout/header_bottom.jpg") repeat-x scroll center top transparent;*/
    /*float: left;*/
    padding: 2em 0 0;
    width: 100%;
}

div#footer {
    font-size: .75em;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

/* Navigation + Actions (Actions for logged in users) */

ul#navigation,
ul#actions {
    float: left;
    width: 99%;
    background: #092e20;    
    border-top: 1px solid #a2af23;
    border-bottom: 1px solid #a2af23;
    padding: 0 0 0 1%;
    list-style-type: none;
    font-weight: bold;
}

ul#navigation li,
ul#actions li {
    float: left;
    padding: .2em .5em;
}

ul#navigation a,
ul#actions a {
    display: block;
    color: #d2af23;
    text-decoration: none;
}
ul#navigation a:hover,
ul#actions a:hover { color: #fff; }

ul#actions {
    float: right;
    background: #3b744e url(../img/layout/header_bottom.jpg) repeat-x top;
    border: 0;
    margin: -2.3em 0 0 0;
    padding: 0 1% 0 0;
    font-size: 85%;
}

ul#actions li {
    float: right;
}

img#extrapolatingComic {
    margin-left:auto;
    margin-right:auto;
    display: block;
}