<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <title>Kevin and Kayla's Wedding Site - {{ page_title }}</title>
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'the_thing/style.css' %}" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
</head>

<body>
	<div class="header">
		<div class="main-nav">
			<ul>
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'rsvp' %}">RSVP</a></li>
				<li><a href="{% url 'event_details' %}">Event Details</a></li>
				<li><a href="{% url 'wedding_party' %}">Wedding Party</a></li>
				<li><a href="{% url 'area_info' %}">Area Info</a></li>
				<li><a href="{% url 'fun_stuff' %}">Fun</a></li>
			</ul>
		</div>
	</div> <!--end header -->

	<div id="wrapper">
		
		<div id="content">
			{% block content %}{% endblock %}
		
		</div>
	</div> <!--end wrapper -->
	<div class="footer">
	   &copy; Copyright {% now "Y" %} Kevin Armstrong and Kayla Fang. This site was built with love and Python.
	</div>
</body>
</html>

<script>
YUI({
    classNamePrefix: 'pure'
}).use('gallery-sm-menu', function (Y) {

    var horizontalMenu = new Y.Menu({
        container         : '#demo-horizontal-menu',
        sourceNode        : '#std-menu-items',
        orientation       : 'horizontal',
        hideOnOutsideClick: false,
        hideOnClick       : false
    });

    horizontalMenu.render();
    horizontalMenu.show();

});
</script>