<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <title>Kevin & Kayla | 09.27.2014</title>
    {% block style %}{% endblock %}
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'the_thing/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'the_thing/select2.css' %}" />
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/tables-min.css" />
</head>
<body>
	<div class="header">
	<div class="omni">Kevin Armstrong & Kayla Fang &bull; 09.27.2014 &bull; Ridgefield, CT</div>
	</div> <!--end header -->
	<div id="wrapper">
		
			{% block content %}{% endblock %}
		
	</div> <!--end wrapper -->
	<div class="footer">
	<div class="main-nav">
			<ul>
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="">Event Details</a>
				<ul>
					<li><a href="{%url 'itinerary' %}">Ceremony & Reception</a></li>
					<li><a href="{%url 'rehearsal' %}">Rehearsal Dinner</a></li>
					<li><a href="{%url 'brunch' %}">Wedding Brunch</a></li>
				</ul>
				</li>
				<li><a href="{% url 'rsvp' %}">RSVP</a></li>
				<li><a href="{%url 'wedding_party' %}">The Wedding Party</a>
				</li>
				<li><a href="">Area Info</a>
				<ul>
					<li><a href="{%url 'fairfield' %}">Fairfield County, CT</a></li>
					<li><a href="{%url 'nyc' %}">New York City</a></li>
				</ul>
				</li>
				<li><a href="{% url 'fun_stuff' %}">Fun</a>
				</li>
				<li><a href="http://www.honeyfund.com/wedding/kevinandkayla" target="_blank">Honey Fund</a>
				</li>
			</ul>
		</div>
		<div class="copyright">
		   &copy; Copyright {% now "Y" %} Kevin Armstrong and Kayla Fang. This site was built with love and Python.
		 </div>
	</div> <!--end footer -->
</body>
</html>

<script src="{% static 'the_thing/jquery-2.1.0.min.js' %}"></script>
<!--<script src="{% static 'the_thing/jquery-2.0.3.js' %}"></script>-->
<script src="{% static 'the_thing/jquery.validate.min.js' %}"></script>
<!--<script src="{% static 'the_thing/jquery.validate.js' %}"></script>-->
<script src="{% static 'the_thing/select2.min.js' %}"></script>
<!--<script src="{% static 'the_thing/select2.js' %}"></script>-->

{% block script %}{% endblock %}
